html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Main */
#pomodoro {
  display: inline-block;
  width: 50%;
  font-size: 3em;
}

#pomodoroTop {
  font-size: 1em;
  background: red;
  height: 25%;
  width: 80%;
  margin: 0 auto;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 5px solid black;
}

#pomodoroTop:hover {
  background:goldenrod;
  cursor: pointer;
  border: 5px solid gray;
}

#pomodoroBottom {
  font-size: 1em;
  background: white;
  height: 25%;
  width: 80%;
  margin: 0 auto;
  
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 5px solid black;
}

#pomodoroBottom:hover {
  background: goldenrod;
  cursor: pointer;
  border: 5px solid gray;
}

#sessionIncrease:hover,
#sessionDecrease:hover,
#breakIncrease:hover,
#breakDecrease:hover {
  cursor: pointer;
  color:white;
}

/* Footer */