html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Main */
#time {
  display: block;
}
#pomodoro {
  display: inline-block;
  width: 50%;
  font-size: 3em;
}

#pomodoroTop {
  font-size: 1em;
  height: 25%;
  width: 80%;
  margin: 0 auto;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#pomodoroTop:hover {
  cursor: pointer;
}

#pomodoroBottom {
  font-size: 1em;
  height: 25%;
  width: 80%;
  margin: 0 auto;
  
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#pomodoroBottom:hover {
  cursor: pointer;
}

#sessionIncrease,
#sessionDecrease,
#breakIncrease,
#breakDecrease {
  display: block;
  white-space: nowrap;
}

#sessionIncrease:hover,
#sessionDecrease:hover,
#breakIncrease:hover,
#breakDecrease:hover {
  cursor: pointer;
  color:green;
}

/* Footer */